* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.background {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(Images/background.jpg);
  background-size: cover;
  background-position: center;
}

.logo {
  width: 150px;
  border-radius: 75px;
  float: left;
  margin-right: 50px;
  margin-top: 30px;
  margin-left: 20px;
  cursor: pointer;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 1000px;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 25px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-family: Arial;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0%;
  background: gold;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover:after {
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  width: 1000px;
}

.pho {
  width: 380px;
  position: relative;
  right: 200px;
  top: 90px;
  border-radius: 10px;
}

.wrapper h1 {
  color: white;
  position: relative;
  bottom: 300px;
  font-size: 100px;
  left: 250px;
  text-decoration: none;
}

.pho-recipe {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.wrapper p {
  color: white;
  position: relative;
  bottom: 300px;
  left: 250px;
  font-family: "Merriweather", serif;
  font-size: 20px;
  padding: 10px;
  line-height: 40px;
}

/*Footer*/
.footer p2 {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  margin: 0;
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
}
